.Pokemons {
    margin-top: 120px;
    width: 1080px;
}
.PokemonsContent {
    display: flex;
    justify-content: center;
}
.Pokemons .CardPokemons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 65px;
}

.DetailPokemons {
    /* flex: 4; */
    /* display: none; */
}
