.SearchBar {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.SearchBarWrapper {
    border-radius: 20px;
    box-shadow: #ededed 0 10px 10px;
    background-color: white;
    width: 800px;
    height: 70px;
    padding: 15px;
}
.SearchBarContent {
    display: flex;
    justify-content: space-between;
}
.SearchBar input {
    background-color: transparent;
    font-size: 1.5rem;
    outline: none;
}
