.Normal {
    background-color: #a8a77a;
}

.Fighting {
    background-color: #c22e28;
}

.Flying {
    background-color: #a98ff3;
}

.Poison {
    background-color: #a33ea1;
}

.Ground {
    background-color: #e2bf65;
}

.Rock {
    background-color: #b6a136;
}

.Bug {
    background-color: #a6b91a;
}

.Ghost {
    background-color: #735797;
}

.Steel {
    background-color: #b7b7ce;
}

.Fire {
    background-color: #ff421c;
}

.Water {
    background-color: #6390f0;
}

.Grass {
    background-color: #78cd54;
}

.Electric {
    background-color: #f7d02c;
}

.Psychic {
    background-color: #f95587;
}

.Ice {
    background-color: #96d9d6;
}

.Dragon {
    background-color: #6f35fc;
}

.Dark {
    background-color: #705746;
}

.Fairy {
    background-color: #d685ad;
}

.Unknown {
    background-color: #000000;
}

.Shadow {
    background-color: #301f2d;
}
